footer {
  margin-top: 30px;
  background-color: #3b3b3b;
  color: #fff;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  list-style: none;
  padding: 0;
  margin: 2%;
}

li {
  margin: 15px;
}

li a {
  text-decoration: none;
  color: #fff;
}

p {
  font-size: 24px;
  margin: 0;
  padding-bottom: 20px;
}

/* media queries */
@media screen and (max-width: 768px) {
  .container {
    display: block;
  }
}
